@{
    ViewData["Title"] = "Tela inicial Morador";
}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/morador/inicio-usuario.css">
    <link rel="stylesheet" href="~/css/lateral.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <div class="open-btn" style="color:#4caf50;" onclick="toggleSidebar()">☰</div>

    @{
        await Html.RenderPartialAsync("~/Views/BarraLateral/Lateral.cshtml");
    }

    <div class="content">
        <h2 style="color:#156D2E;">Seja bem-vindo, Morador </h2>
        <p id="ultimoConsumo">Seu último consumo medido foi de: R$ 0.00</p><br />

        <div id="grafico">
            <h2 style="color:#156D2E;">Consumo de Energia</h2>
            <label for="bandeiraCheckbox">Selecione a bandeira tarifária:</label>
            <select id="bandeiraCheckbox" onchange="atualizarGrafico()">
                <option value="verde">Verde</option>
                <option value="amarela">Amarela</option>
                <option value="vermelha">Vermelha</option>
            </select>
            <canvas id="consumoCondominioChart" width="400" height="200"></canvas>
        </div>
    </div>

    <script>
        function converterKwhParaReal(kwh, bandeira) {
            switch (bandeira) {
                case 'verde':
                    return kwh * 0.5;
                case 'amarela':
                    return kwh * 0.7;
                case 'vermelha':
                    return kwh * 1.0;
                default:
                    return kwh;
            }
        }

        function atualizarGrafico() {
            var datas = ['27/11/2023'];
            var horas = ['10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '18:00',];
            var potencias = [55, 55, 56, 57, 57.5, 58, 58.4, 58.8, 59, 59.5];

            var bandeira = document.getElementById('bandeiraCheckbox').value;
            var potenciasEmReais = potencias.map(function (potencia) {
                return converterKwhParaReal(potencia, bandeira);
            });

            var ultimoConsumo = potenciasEmReais[potenciasEmReais.length - 1].toFixed(2);
            document.getElementById('ultimoConsumo').innerText = "Seu último consumo medido foi de: R$ " + ultimoConsumo;

            var numMedicoesExibir = potencias.length;

            var labelsExibir = datas.slice(-numMedicoesExibir);
            var horasExibir = horas.slice(-numMedicoesExibir);
            var potenciasExibir = potenciasEmReais.slice(-numMedicoesExibir);

            var config = {
                type: 'line',
                data: {
                    labels: horasExibir,
                    datasets: [{
                        label: 'Custo - ' + labelsExibir[0],
                        data: potenciasExibir,
                        fill: false,
                        borderColor: '#ffa500',
                        backgroundColor: '#ffa500',
                        pointRadius: 5,
                        pointHoverRadius: 7,
                        showLine: true,
                        xAxisID: 'x-axis-1'
                    }]
                },
                options: {
                    scales: {
                        x: [{
                            type: 'linear',
                            position: 'bottom',
                            id: 'x-axis-1',
                            ticks: {
                                callback: function (value, index, values) {
                                    return labelsExibir[index] + ' ' + horasExibir[index];
                                }
                            }
                        }],
                        y: [{
                            type: 'linear',
                            position: 'left'
                        }]
                    },
                    plugins: {
                        legend: {
                            display: true,
                            position: 'top'
                        },
                    },
                    tooltips: {
                        callbacks: {
                            label: function (context) {
                                var label = context.dataset.label || '';
                                var potencia = potencias[context.dataIndex];
                                var custo = potenciasEmReais[context.dataIndex].toFixed(2);

                                if (label) {
                                    label += ': ';
                                }

                                if (context.parsed.y !== null) {
                                    label += 'Potência: ' + potencia + ' kW | Custo: R$ ' + custo;
                                }

                                return label;
                            }
                        }
                    }
                }
            };

            var ctx = document.getElementById('consumoCondominioChart').getContext('2d');
            new Chart(ctx, config);
        }

        atualizarGrafico();
    </script>
</body>

</html>