body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    color: #156D2E;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column; /* Alteração para empilhar os elementos em dispositivos pequenos */
}

.open-btn {
    font-size: 20px;
    cursor: pointer;
    color: #4caf50;
    margin-left: 20px;
}

#grafico {
    padding: 20px;
    overflow: hidden;
}

    #grafico h2 {
        color: #156D2E;
    }

#descricao {
    padding: 20px;
}

.filtro-container {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap; /* Permite que os itens se ajustem em uma nova linha em telas menores */
    align-items: center;
    overflow: hidden;
}

.filtro-label {
    font-weight: bold;
}

.filtro-input,
.filtro-button {
    margin-bottom: 8px; /* Adaptação para melhor espaçamento em telas menores */
    width: 100%; /* Faz os elementos ocuparem a largura total em telas menores */
}

.filtro-input {
    padding: 8px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

.filtro-button,
.filtro-expandir {
    width: 100%; /* Faz os elementos ocuparem a largura total em telas menores */
}

.filtro-button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.filtro-expandir {
    background-color: #4caf50;
    color: white;
    padding: 8px 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s ease;
}

.filtro-button:hover {
    background-color: #45a049;
}

/* Adicionando regras de mídia para tornar a tela responsiva */
@media screen and (max-width: 768px) {
    .filtro-container {
        flex-direction: column;
    }
}
