body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    color: #156D2E;
    font-family: Arial, sans-serif;
    display: flex;
}

#grafico {
    flex: 1;
    padding: 20px;
    overflow: hidden;
}

    #grafico h2 {
        color: #156D2E;
    }

#descricao {
    flex: 1;
    padding: 20px;
}

.filtro-container {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    overflow: hidden;
}

.filtro-label {
    font-weight: bold;
}

.filtro-input,
.filtro-button {
    margin-right: 8px;
}

.filtro-input {
    padding: 8px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

.filtro-button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.filtro-expandir {
    background-color: #4caf50;
    color: white;
    padding: 8px 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s ease; 
    margin-left: 90%;
}

    .filtro-button:hover {
        background-color: #45a049; 
    }