@{
    ViewData["Title"] = "Como economizar?";
}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/sistema/economia.css">
    <link rel="stylesheet" href="~/css/barra-lateral/lateral.css">

</head>

<body>
    <div class="open-btn" onclick="toggleSidebar()">☰</div>

    @{
        await Html.RenderPartialAsync("~/Views/BarraLateral/LateralSindico.cshtml");
    }

    <div class="content">
        <h2>Veja como economizar</h2><br />

        <div class="post-container">
            <div class="card">
                <div class="card-header">Iluminação Eficiente</div>
                <div class="card-body">
                    Troque lâmpadas incandescentes por LEDs. Elas consomem menos energia e têm uma vida útil mais longa.
                </div>
            </div>
            <div class="card">
                <div class="card-header">Desconecte Dispositivos em Standby</div>
                <div class="card-body">
                    Mesmo em standby, muitos aparelhos consomem energia. Desconectar dispositivos quando não estiverem em uso pode resultar em economia significativa.
                </div>
            </div>
            <div class="card">
                <div class="card-header">Uso Consciente de Eletrônicos</div>
                <div class="card-body">
                    Evite deixar eletrônicos carregando durante a noite. Desconectar carregadores e desligar dispositivos quando totalmente carregados ajuda a economizar energia.
                </div>
            </div>
            <div class="card">
                <div class="card-header">Aproveite a Luz Natural</div>
                <div class="card-body">
                    Mantenha cortinas abertas durante o dia para aproveitar a luz natural. Isso reduzirá a necessidade de iluminação artificial.
                </div>
            </div>
            <div class="card">
                <div class="card-header">Manutenção de Equipamentos</div>
                <div class="card-body">
                    Certifique-se de que eletrodomésticos e sistemas de aquecimento/refrigeração estejam bem mantidos. Equipamentos eficientes consomem menos energia.
                </div>
            </div>
            <div class="card">
                <div class="card-header">Eletrodomésticos Energéticos</div>
                <div class="card-body">
                    Ao substituir eletrodomésticos, opte por modelos energeticamente eficientes, identificados com etiquetas de eficiência energética.
                </div>
            </div>
            <div class="card">
                <div class="card-header">Coleta Seletiva</div>
                <div class="card-body">
                    Pratique a coleta seletiva de lixo. Reciclar materiais reduz a necessidade de produção a partir de recursos naturais.
                </div>
            </div>
            <div class="card">
                <div class="card-header">Aquecimento e Arrefecimento Eficientes</div>
                <div class="card-body">
                    Regule termostatos para economizar energia. Isolar janelas e portas também ajuda a manter a temperatura interna.
                </div>
            </div>
            <div class="card">
                <div class="card-header">Reduza o Consumo de Água Quente</div>
                <div class="card-body">
                    Aquecer água consome energia. Use água quente de forma consciente e considere a instalação de aquecedores solares.
                </div>
            </div>
            <div class="card">
                <div class="card-header">Invista em Energia Renovável</div>
                <div class="card-body">
                    Explore opções de energia renovável, como painéis solares. Além de economizar, você contribui para um futuro mais sustentável.
                </div>
            </div>
            <div class="card">
                <div class="card-header">Desligue Dispositivos Não Utilizados</div>
                <div class="card-body">
                    Desligue dispositivos eletrônicos quando não estiverem em uso. Isso evita o consumo desnecessário de energia.
                </div>
            </div>
            <div class="card">
                <div class="card-header">Monitoramento do Consumo</div>
                <div class="card-body">
                    Utilize dispositivos de monitoramento para acompanhar o consumo de energia em tempo real. Isso ajuda a identificar áreas de alto consumo.
                </div>
            </div>

        </div>
    </div>

</body>

</html>