@{
    ViewData["Title"] = "Sobre a CurrentXpose";
}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/sistema/sobre.css">
    <link rel="stylesheet" href="~/css/barra-lateral/lateral.css">
</head>

<body>
    <div class="open-btn" onclick="toggleSidebar()">☰</div>

    @{
        await Html.RenderPartialAsync("~/Views/BarraLateral/LateralSindico.cshtml");
    }

    <div class="content">
        <h2>Sobre a CurrentXpose: Transformando a Eficiência Energética em Realidade</h2><br />

        <p>Bem-vindo à CurrentXpose, onde a inovação encontra a sustentabilidade. Somos uma empresa comprometida em liderar a transformação positiva na gestão de energia elétrica, impulsionando não apenas a redução de gastos, mas também promovendo uma consciência sustentável em todas as frentes.</p><br>

        <div class="card-container">
            <div class="card">
                <div class="card-header" style="background-color: #4caf50;">
                    <h3 class="title-section">Missão</h3>
                </div>
                <div class="card-content">
                    <ul>
                        <li>Capacitar comunidades a compreender e controlar seus gastos de energia de maneira eficiente, promovendo práticas sustentáveis para um futuro mais verde.</li>
                    </ul>
                </div>
            </div>

            <div class="card">
                <div class="card-header" style="background-color: #4caf50;">
                    <h3 class="title-section">Visão</h3>
                </div>
                <div class="card-content">
                    <ul>
                        <li>Ser a principal referência em soluções de eficiência energética, proporcionando transparência, educação e inovação para comunidades conscientes em todo o mundo.</li>
                    </ul>
                </div>
            </div>

            <div class="card">
                <div class="card-header" style="background-color: #4caf50;">
                    <h3 class="title-section">Valores</h3>
                </div>
                <div class="card-content">
                    <ul>
                        <li><strong>Sustentabilidade:</strong> Comprometemo-nos a desenvolver e promover soluções que reduzam o impacto ambiental, incentivando práticas que preservem os recursos naturais.</li>
                        <li><strong>Transparência:</strong> Buscamos a transparência em todas as interações, proporcionando acesso fácil às informações detalhadas sobre o consumo de energia para capacitar tomadas de decisão informadas.</li>
                        <li><strong>Educação:</strong> Acreditamos no poder da educação para impulsionar a mudança. Fornecemos recursos educativos e dicas práticas para capacitar indivíduos a adotarem práticas mais sustentáveis.</li>
                        <li><strong>Colaboração:</strong> Encorajamos a participação ativa e a colaboração entre todos os stakeholders, reconhecendo que a união de esforços é fundamental para alcançar resultados significativos.</li>
                        <li><strong>Inovação:</strong> Buscamos continuamente soluções inovadoras para otimizar o uso de energia, adotando tecnologias de ponta para promover uma eficiência energética excepcional.</li>
                    </ul>
                </div>
            </div>
        </div><br />

        <p>Em nossa jornada, a CurrentXpose visa ser uma fonte confiável de informações sobre eficiência energética, capacitando comunidades a agir de maneira mais consciente no uso da energia elétrica. Ao colaborar ativamente com nossos clientes, síndicos e moradores, acreditamos que podemos criar um impacto duradouro, construindo um futuro mais sustentável e economicamente eficiente.</p>

        <p>Obrigado por fazer parte da CurrentXpose e por contribuir para um futuro mais sustentável!</p><br />
    </div>
</body>

</html>