<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="stylesheet" href="~/css/barra-lateral/lateral.css">
</head>

<body>
    <div class="sidebar" id="mySidebar">
        <div class="close-btn" onclick="toggleSidebar()">×</div>
        <img src="~/img/logo/CurrentXpose.jpg" />
        <ul>
            <li><a asp-controller="Sindico" asp-action="Historico">Histórico</a></li>
            <li><a asp-controller="Economia" asp-action="EconomiaSindico">Como economizar?</a></li>
            <li><a asp-controller="Sobre" asp-action="SobreSindico">Sobre</a></li>
        </ul>
        <a class="logout" asp-controller="Login" asp-action="Login">Logout</a>
    </div>

    <script>
        function toggleSidebar() {
            var sidebar = document.getElementById("mySidebar");
            sidebar.classList.toggle("open");
        }
    </script>
</body>

</html>