@{
    ViewData["Title"] = "Tela Login";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/login/login.css">
    <title>Login</title>
    @if (TempData.ContainsKey("Status"))
    {
        <div id="error-message" class="alert alert-danger fixed-top custom-alert" role="alert">
            <span class="alert-content">@TempData["Status"]</span>
        </div>
    }
</head>
<body class="login-bg">
    <div class="login-container">
        <form class="login-form" method="post" asp-action="Login" asp-controller="Login">
            <h1>Login</h1>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="senha" required>
            <button type="submit">Login</button>
            <div class="text-center">
                <a class="link" asp-action="TrocarSenha" asp-controller="Login">Esqueceu a senha</a>
            </div>
        </form>
    </div>
</body>
</html>
<script>
     document.addEventListener('DOMContentLoaded', function () {
         var errorMessage = document.getElementById('error-message');
         var closeButton = errorMessage.querySelector('.close');

         setTimeout(function () {
             errorMessage.style.display = 'none';
         }, 3000);

         document.addEventListener('click', function () {
             errorMessage.style.display = 'none';
         });
     });
</script>