html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.logo {
    background-image: url('/img/logo/CurrentXpose.jpg');
    background-repeat:no-repeat;
    background-size: 400px 300px;
    background-attachment: fixed;
    background-position: center center;
}
