@model CurrentXpose.Domain.Entidades.FaleConosco

@{
    ViewData["Title"] = "Fale Conosco";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/sistema/faleConosco.css">
    <link rel="stylesheet" href="~/css/lateral.css">
    <title>Fale Conosco</title>
</head>
<body class="login-bg">
    <div class="login-container">
        <div class="open-btn" onclick="toggleSidebar()">☰</div>
        @{
            await Html.RenderPartialAsync("~/Views/BarraLateral/Lateral.cshtml");
        }
        <form class="login-form" method="post" asp-action="FaleConosco" asp-controller="FaleConosco" style="margin-bottom: 80px;">
            <h1>Fale Conosco</h1>
            <label for="Nome">Nome:</label>
            <input type="text" asp-for="Nome" id="Nome" required>

            <label for="Assunto">Assunto:</label>
            <input type="text" asp-for="Assunto" id="Assunto" required>

            <label for="Email">Email:</label>
            <input type="email" asp-for="Email" id="Email" required>

            <label for="Mensagem">Mensagem:</label>
            <textarea asp-for="Mensagem" id="Mensagem" rows="5" required></textarea>

            <button type="submit" aria-label="Enviar Mensagem">Enviar mensagem</button>
            <div class="text-center">
                <a class="link" asp-action="Inicial" asp-controller="Morador">Voltar</a>
            </div>
        </form>
    </div>
</body>
</html>