@{
    ViewData["Title"] = "Tela inicial Sindico";
}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/morador/inicio-usuario.css">
    <link rel="stylesheet" href="~/css/lateral.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <div class="open-btn" style="color:#4caf50;" onclick="toggleSidebar()">☰</div>

    @{
        await Html.RenderPartialAsync("~/Views/BarraLateral/LateralSindico.cshtml");
    }

    <div class="content">
        <h2 style="color:#156D2E;">Seja bem-vindo, Sindico!</h2>
        <p>CurrentXpose é a sua plataforma para monitoramento em tempo real do consumo de energia no condomínio.</p><br />

        <div id="grafico">
            <h2 style="color:#156D2E;">Consumo de Energia</h2>
            <canvas id="consumoCondominioChart" width="400" height="200"></canvas>
        </div>
    </div>

    <script>
        function iniciarGrafico() {
            var datas = ['01/01/2023'];
            var horas = ['12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00'];
            var potencias = [100, 105, 110, 112, 113, 113, 114];

            var numMedicoesExibir = 7; 

            var labelsExibir = datas.slice(-numMedicoesExibir);
            var horasExibir = horas.slice(-numMedicoesExibir);
            var potenciasExibir = potencias.slice(-numMedicoesExibir);

            var config = {
                type: 'line',
                data: {
                    labels: horasExibir,
                    datasets: [{
                        label: 'Potência - ' + labelsExibir[0], 
                        data: potenciasExibir,
                        fill: false,
                        borderColor: '#2196f3',
                        backgroundColor: '#2196f3',
                        pointRadius: 5,
                        pointHoverRadius: 7,
                        showLine: true,
                        xAxisID: 'x-axis-1'
                    }]
                },
                options: {
                    scales: {
                        x: [{
                            type: 'linear',
                            position: 'bottom',
                            id: 'x-axis-1',
                            ticks: {
                                callback: function (value, index, values) {
                                    return labelsExibir[index] + ' ' + horasExibir[index];
                                }
                            }
                        }],
                        y: [{
                            type: 'linear',
                            position: 'left'
                        }]
                    },
                    plugins: {
                        legend: {
                            display: true,
                            position: 'top'
                        },
                        tooltip: {
                            callbacks: {
                                label: function (context) {
                                    var label = context.dataset.label || '';

                                    if (label) {
                                        label += ': ';
                                    }

                                    if (context.parsed.y !== null) {
                                        label += context.parsed.y;

                                        label += ' kW';
                                    }

                                    return label;
                                }
                            }
                        }
                    }
                }
            };

            var ctx = document.getElementById('consumoCondominioChart').getContext('2d');
            new Chart(ctx, config);
        }

        iniciarGrafico();
    </script>
</body>

</html>